body {
    background-color: #F9F5F6;
    font-family: 'Alice', serif;
    margin: 10px;
}

#title_div {
    color: #ff80ae;
    /* #f579a6; */
    /* #ff80ae */
    /* #ef3378 */
    /* #f096b7 */
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#title_div p {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    padding: 20px;
    border: 7px solid;
    border-radius: 50%;
    display: inline-flex;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

/* Modifico la dimensione della width del title_div e del font-size dell'h1
 * per rendere responsive il logo fittizio */
@media (min-width: 400px){
    #title_div {
        width: 380px;
    }
}
@media (min-width: 340px) and (max-width: 400px){
    #title_div {
        width: 320px;
    }

    h1 {
        font-size: 1.6em;
    }
}
@media (max-width: 340px){
    #title_div {
        width: 280px;
    }

    h1 {
        font-size: 1.4em;
    }
}


/*  -------------------------   */
/*          BARRA MENU          */
/*  -------------------------   */
.menu_bar_div {
    color: #A555EC;
    background-color: #F8E8EE;
    padding: 0px;
    font-size: 14px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


/*  Display pc / laptop / ipad  */
@media (min-width: 950px){
    .menu_button_div{
        /* Per non mostrare il pulsante menu nella navigation bar quando ho uno schermo piu' grande di 481px */
        display: none;
    }

    .phone_nav_bar_div {
        display: none;
    }

    .laptop_nav_bar_div {
        display: flex;
        justify-content: center;
    }

    .laptop_ul {
        list-style: none;
        padding: 0px;   /* per mantenere centrati i box rispetto al div */
        margin: 0px 50px;
        text-align: center;
    }
    
    .laptop_ul li {
        display: inline-block;
        padding: 10px 20px;
        margin: 0px;
    }
    
    @media(pointer: fine){
        .laptop_ul li:hover{
            color: #F9F5F6;
            background-color: #A555EC;
            /* background-color: #bd8de6; e' un colore piu' pastello*/
            cursor: pointer;
            border-radius: 5px;
        }    
    }
    
    .laptop_ul a {
        text-decoration: none;
        color: #A555EC;
        -webkit-tap-highlight-color: transparent;   /* Per non far comparire il background blue dell'anchor tag */
    }

    /* #last_line_laptop_nav_bar_div {
        display: block;
    } */

}


/*  Display Cellulari   */
@media (max-width: 950px){
    /* Per non mostrare la lista menu nella navigation bar quando ho uno schermo piu' piccolo di 480px */
    .laptop_nav_bar_div{
        display: none;
    }

    .laptop_ul {
        display: none;
    }

    .menu_bar_div {
        padding: 10px 10px;
        /* Uso z-index: 2; per mantenere il div del .menu_bar_div al di sopra sia del .navbar_background sia del .content_div*/
        z-index: 2;
    }

    .navbar_background {
        background-color: #F9F5F6;
        width: 100vw;
        /* height: 50px; */
        visibility: hidden;
        /* Uso z-index: 1; per mantenere il div del .navbar_background al di sotto di quello del .menu_bar_div MA al di sopra del .content_div */
        z-index: 1;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
    }

    .menu_button_div {
        padding: 2px 4px;
        width: 30px;
        height: 30px;
        border-radius: 8px;
        border: 1px solid #A555EC;
        position: relative;
    }

    /* pointer: fine -> per non applicare queste proprieta' a dispositivi touch */
    @media(pointer: fine){
        .menu_button_div:hover{
            background-color: #A555EC;
            cursor: pointer;
        }
    
        .menu_button_div:hover > .menu_button_line {
            background-color: #F8E8EE;
        }
    }

    
    .menu_button_line {
        background-color: #A555EC;
        height: 2px;
        width: 30px;
        margin: 0;
        padding: 0;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: auto;
        margin-right: auto;
    }


    .menu_top_line {
        /* -moz-transition: transform 1s;
        -webkit-transition: transform 1s;
        -o-transition: transform 1s; */
        transform-origin: center;
        transform: translate(0, 8px) rotateZ(45deg);
        transition: transform 500ms;
    }

    .menu_bottom_line {
        transform-origin: center;
        transform:  translate(0, -8px) rotateZ(-45deg); 
        transition: transform 500ms;
    }

    .menu_center_line {
        opacity: 0;
        transition: opacity 500ms;
    }

    /* _X -> proprieta' da applicare quando il pulsante MENU diventa una X per chiudere il menu a tendina */
    .menu_top_line_X {
        transform-origin: center;
        /* translate(0, 0) -> permette di farlo tornare alla posizione iniziale */
        transform: translate(0, 0);
        transition: transform 500ms;
    }

    .menu_bottom_line_X {
        transform-origin: center;
        /* translate(0, 0) -> permette di farlo tornare alla posizione iniziale */
        transform:  translate(0, 0);
        transition: transform 500ms;
    }

    .menu_center_line_X {
        opacity: 1;
        transition: opacity 500ms;
    }

    .phone_nav_bar_div {
        width: fit-content;
        /* Imposto una height pari al 100% della visible height in modo tale da occupare tutta la schermata con la phone_nav_bar_div */
        height: 100vh;
        margin: 5px 0px 0px 0px;
    }

    .phone_ul {
        list-style: none;
        text-align: start;
        font-size: 1rem;
        padding-inline-start: 0px;
        padding: 0px;
        margin: 0px;
    }

    .phone_ul li {
        padding: 5px 5px;
        width: fit-content;
    }

    /* pointer: fine -> per non applicare queste proprieta' a dispositivi touch */
    @media(pointer: fine){
    /* uguale a .laptop_ul li:hover */
        .phone_ul li:hover{
            color: #F9F5F6;
            background-color: #A555EC;
            cursor: pointer;
        }

        /* Per cambiare il colore del testo dell'anchor tag quando si è sui bordi del <li> element */
        .phone_ul li:hover a {
            color: #F9F5F6;
        }
    }

    .phone_ul a {
        text-decoration: none;
        color: #A555EC;
        -webkit-tap-highlight-color: transparent;   /* Per non far comparire il background blue dell'anchor tag */
        
        /* display: block; e' necessario per far funzionare correttamente width: fit-content;
        in modo tale da non estendere ad una width maggiore rispetto a quella dell'elemento
        la link reference dell'anchor tag */
        /* display: block; */
        /* width: fit-content; */
    }




}


/*  ---------------------------     */
/*  ---------------------------     */
/*  ---------------------------     */
/*  ---------------------------     */
/*  ---------------------------     */

/* contenuto */
.content_div {
    background-color: #FDCEDF;
    color: #8238c2;
    /* Uso z-index: 0; per mantenere il div del contenuto al di sotto di quello del .menu_bar_div e del .navbar_background */
    /* z-index: 0; */
}

/* Trattamenti mani */
.mani_ul {
    list-style: none;
    padding: 0px; /* per mantenere centrati i box rispetto al div */
    display: inline-block;
}

.mani_ul li{
    padding: 5px;
    font-size: 1.0rem;
    font-weight: bold;
}

.mani_ul a {
    /* text-decoration: none; */
    color: #8238c2;
}


.immagini{
    /* display: inline-flexbox; */
    /*  max-inline-size mi serve a settare la dimensione massima dell'intero
        contenitore delle immagini: volendo al max 4 immagini considero la
        width di ogni img pari a 150px*4 = 600px a cui sommo i 10px*4 di padding
    */
    max-inline-size: 700px;
    /* margin: auto; Posiziono al centro dello schermo il contenitore */
    margin: auto;
    padding: 20px 0px;
}

.immagini img{
    height: 150px;
    width: 150px;
    padding: 10px;
}

/*  ---------------------------     */
/*  ---------------------------     */
/*          Promozioni              */
/*  ---------------------------     */
/*  ---------------------------     */
.section_div {
    text-align: center;
    padding-bottom: 3vw;
}

.section_div h2 {
    margin: 0px;
    padding: calc(min(3vw, 10px));
    font-size: 2.5rem;
    /* display: inline-flex; */
}

.section_div p {
    margin-bottom: 0px;
    padding: 0px 50px;
}

.p_justify {
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: justify;

    margin: auto;
}

.centered_ul {
    display: inline-block;
    text-align: left;
}


/*  ---------------------------     */
/*  ---------------------------     */
/*            Contatti              */
/*  ---------------------------     */
/*  ---------------------------     */
.img_svg {
    padding-right: 3px;
}

.orari_apertura_ul {
    display: inline-block;
}

.orari_apertura_ul {
    width: 250px;
    padding: 0;
}

.orari_apertura_ul li {
    justify-content: space-between;
    display: flex;
}

.phone_contacts_ul {
    list-style: none;
    padding: 0;
}

.phone_contacts_ul a {
    color: #8238c2;
}

svg {
    padding-right: 10px;
}

.contact_icon {
    margin: 10px;
}

.map-image{
    padding: 50px;
    display: flex;
    justify-content: center;
}


/*  ---------------------------     */
/*  ---------------------------     */
/*             Viso                 */
/*  ---------------------------     */
/*  ---------------------------     */
.shape4Plus_div {
    max-inline-size: 900px;
    margin: auto;
}
.machine_img {
    /* width: min(150px, 50vw); */
    width: min(150px, 50vw);
    height: min(150px, 50vw);
    margin: 20px;
}

.shape4plusText_div {
    /* max-inline-size: 500px; */
}

.shape4Plus_div a {
    color: #8238c2;
}

/*  ---------------------------     */
/*  ---------------------------     */
/*             Trucco               */
/*  ---------------------------     */
/*  ---------------------------     */


.trucco_images {
    max-inline-size: 900px;
    /* margin: auto; Posiziono al centro dello schermo il contenitore */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.trucco_images img {
    padding-top: min(2vw, 10px);
    padding-bottom: min(2vw, 10px);
}

.single {
    width: min(80vw, 900px);
}

.double_div {
    width: min(80vw, 900px);
    display: inline-block;
}

.double {
    width: min(30vw, 300px);
    padding-left: min(5vw, 10px);
    padding-right: min(5vw, 10px);
}


/*  ---------------------------     */
/*  ---------------------------     */
/*             Centro               */
/*  ---------------------------     */
/*  ---------------------------     */

:root {
    --arrow-padding: 2vw;
}

.carousel_container {
    /* background-color: rgba(255, 255, 255, 0); */
    width: 80vw;
    margin: auto;
    /* padding-top: calc((min(10%, 50px)));
    padding-bottom: calc((min(5%, 33px))); */
    padding: 0;
    position: relative;
}

.centro_img {
    width: 80vw;
    /* Per avere un formato 16:9 -> 60vw : 16 = x : 9 -> x = (60 * 9 / 16)vw */
    height: 45vw;
}

/* Imposto di default tutte le immagini con display: none, successivamente aggiungo nel centro.html la classe .slide_active
   in modo tale da rendere visibile solamente una immagine */
.slide_img {
    display: none;
}

.slide_active {
    display: block;
}

.arrow {
    border: solid #F9F5F6;
    border-width: 0 1vw 1vw 0;
    display: inline-block;
    padding: var(--arrow-padding);
    /* Per rendere trasparente la restante parte del quadrato uso una opacity: 0 tramite rgba(0, 0, 0, 0) */
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    -webkit-tap-highlight-color: transparent;
}


/* pointer: fine -> per non applicare queste proprieta' a dispositivi touch, in quanto la 
proprieta' di hover ha dei problemi con i dispositivi touch screen */
@media(pointer: fine){
    .arrow:hover {
        cursor: pointer;
        border-color: rgba(166, 84, 237, 1);
    }
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 2.2vw;
    /* Formula per centrare verticalmente le arrows all'interno del container */
    top: calc(32% - var(--arrow-padding)/2);
}


.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 2.2vw;
    /* Formula per centrare verticalmente le arrows all'interno del container */
    top: calc(32% - var(--arrow-padding)/2);
}

.circle {
    position: absolute;
    width: 8vw;
    height: 8vw;
    background-color: rgba(0, 0, 0, 0.5);
    border: hidden  1px #000000;
    border-radius: 50%;
    top: calc(41% - var(--arrow-padding)/2);
}

#left_circle {
    left: 0px;
}

#right_circle {
    right: 0px;
}
/* .click{
    padding: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} */

.slide_indicator {
    width: min(5vw, 30px);
    height: min(5vw, 30px);
    margin-top: min(5vw, 5px);
    margin-left: 5px;
    margin-right: 5px;
    background-color: #F9F5F6;
    border: hidden; 
    border-radius: 50%;
}

/* pointer: fine -> per non applicare queste proprieta' a dispositivi touch, in quanto la 
proprieta' di hover ha dei problemi con i dispositivi touch screen */
@media(pointer: fine){
    .slide_indicator:hover {
        cursor: pointer;
        background-color: #A555EC;
    }
}

/*  ---------------------------     */
/*  ---------------------------     */
/*  ---------------------------     */
/*  ---------------------------     */

/* footer */
#footer_div {
    color: #F9F5F6;
    background-color: #F195B7;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    clear: both;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.footer_p {
    margin-block-start: 0px;
    margin-bottom: 5px;
}


/* Cookies */
#cookie-banner {
    position: fixed;
    /* width: 50%   +   left: 25%
    -> mi permette di avere una larghezza del div del 50% e di metterlo al centro */
    /* width: 80%; */
    left: 8%;
    height: fit-content;
    bottom: 40%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* display: none; */
}

#cookie-banner p {
    margin: 10px;
}

#cookie-banner button {
    background-color: #007bff;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#cookie-banner button:hover {
    background-color: #0056b3;
}

